.project
.settings
.externalToolBuilders
app/config/database.php
app/tmp/logs/*
app/tmp/cache/views/*
app/tmp/cache/models/*
app/tmp/cache/persistent/*
app/tmp/cache/cake_*
app/tmp/consolidated_reports
app/tmp/sessions/*
app/tmp/tests/*
app/vendors/appshared
app/webroot/images
luxurylink
.DS_Store
._.DS_Store
.idea

app/config/database.php.mclifford.prod

app/tmp/cache/soapserver/WebServiceTickets.soapserver
