#cstool {
	padding: 10px;
}
#csheader {
}
#cscontent {
}
table.cake-sql-log {
	display: none;
}
#csfooter {
}
#CallSearch {
	width: 98%;
	font-size: 150%;
	margin: 8px 0;
	padding: 2px;
}
.interaction {
	background-color: #eeeeff;
	padding: 4px;
	margin: 8px 0;
}

form label {
	font-size: 80%;
	display: block;
	margin-top: 10px;
}

select, textarea, input[type="submit"] {
	width: 100% !important;
}
select {
	font-size: 80%;
}
.ajaxLoadingIndicator {
	visibility: hidden;
}
