#cstool {
	padding: 10px;
}
#csheader {
}
#cscontent {
}
table.cake-sql-log {
	display: none;
}
#csfooter {
}
#cs_omnibox {
	width: 100%;
	font-size: 150%;
	margin: 8px 0;
	padding: 2px;
}
.interaction {
	background-color: #ffffee;
	padding: 4px;
	margin: 8px 0;
}
