/* $Id$ */

@import url("layout-liquid.css");
@import url("modalbox.css");

#header {
	background: #c9b865 url(../img/colored_bar.gif) bottom left repeat-x;
}
#page {
	background: #fff;
}
#recent-items-list {
	border-bottom: 1px solid #d99e00;
	color: #999;
	font-weight: bold;
	height: 25px;
	line-height: 25px;
}
#recent-items-list ul {
	list-style: none;
}
.italicize {
	font-style: italic;
}
.lightBlackTextSmall {
	color: #333;
	font-size: 85%;
}
.grayTextSmall {
	color: #999;
	font-size: 90%;
}

#content-header div.title-header {
	position: relative;
}

#content-header div.title-header h1 {
	font-size: 18px;
	color: #7f0000;
	font-family: Tahoma;
	font-weight: bold;
}

#content-header div.title-header div.buttons {
	position: absolute;
	top: 0;
	right: 10px;
}
#content-area h1,
#content-area h2,
#content-area h3 {
	font-family: Tahoma;
	font-weight: bold;
}
#content-area h2 {
	color: #fff;
	background: #545454;
	font-size: 13px;
	padding: 5px;
}
#content {
	background: url(../img/content_sidebar_background.gif) 0 0 repeat-y;
}
div#breadcrumbs {
	overflow:hidden;
	margin:0;
	padding:0;
	height:30px;
	line-height:30px;
	color:#888888;
	border-bottom:1px solid #eee;
}

div#breadcrumbs a,
div#breadcrumbs a:visited,
div#breadcrumbs em,
div#breadcrumbs span {
	float:left;
	overflow:hidden;
	height:30px;
	padding:0 5px;
	font-style:normal;
	text-decoration: none;
	color: #027AC6;
}
div#breadcrumbs a:hover {
	color: #900;
}
div#breadcrumbs span {
	background:url(../img/bg-breadcrumb.png) no-repeat left center;
	overflow:hidden;
	padding:0 0 0 10px;
	width:0px;

	filter:alpha(opacity=40);
	opacity:0.4;
}

h2 {
	margin: 0 0 10px 0;
	padding: 0;
}
.inlineForms {
	float: left;
	width: 100%;
	padding: 0;
	margin: 0 0 10px 0;
}
.inlineForms div {
	float: left;
	clear: none;
	padding: 0;
	margin: 0 3px 0 0;
}
#primary {
	width: 698px;
	padding: 30px;
}

	/* Buttons */

		a.button {
			display: block;
			float: left;
			margin: .5em 0;
			padding: 0;
			font: 11px "Lucida Grande", "Trebuchet MS", Verdana, sans-serif !important;
			color: #445;
			text-decoration: none!important;
			text-shadow: #FFF 1px 1px 0;
			background: url(../img/btn-l.gif) 0 0 no-repeat;
			height: 26px;
			overflow: hidden;
			cursor: pointer;
		}
		* html a.button { display: inline; }
		a.button:hover {
			color: #223;
			text-decoration: none;
			background-position: 0 -26px;
		}
		a.button:active {
			color: #000;
			text-decoration: none;
			background-position: 0 -52px;
		}
			a.button span {
				float: left;
				margin-left: 12px;
				padding: 6px 12px 6px 0;
				font-size: 100%;
				background: url(../img/btn-r.gif) 100% 0 no-repeat;
				height: 26px;
			}
			a.button:hover span {
				background-position: 100% -26px;
			}
			a.button:active span {
				background-position: 100% -52px;
			}

			a.button span b.icon {
				position: relative;
				float: left;
				margin: 0 3px 0 -4px;
				width: 16px;
				height: 16px;
				background-position: 0 0;
				background-repeat: no-repeat;
			}

			/* IE6 fix */
			* html a.button span { padding-top: 5px; }
			* html a.button span b.icon { margin-top: 1px; }

			/* Icons set */
			.manage-team b.icon {
				margin-left: 0!important;
				background-image: url(../img/i-user.gif);
			}
			.repo-create b.icon,
			.add b.icon {
				background-image: url(../img/i-create.gif);
			}
			.del b.icon {
				background-image: url(../img/edit_remove.png);
			}
			.edit b.icon {
				background-image: url(../img/edit.png);
			}
			.but-go b.icon {
				background-image: url(../img/i-arrow.gif);
			}
			
			.btn-upgrade,
			.btn-downgrade {
				width: 100px;
			}
			.btn-upgrade b.icon,
			.btn-downgrade b.icon {
				width: 10px!important;
				height: 12px!important;
				margin-right: 0!important;
			}
			.btn-upgrade b.icon {
				background-image: url(../img/i-uarr.gif);
			}
			.btn-downgrade b.icon {
				background-image: url(../img/i-darr.gif);
			}

			.sidebar .button-alt {
				margin-top: .7em;
				font-size: 85%;
			}
			.clearfix:after {
		    content: ".";
		    display: block;
		    height: 0;
		    clear: both;
		    visibility: hidden;
		    }
		  
			/* Toolbar button modifications */
					.page-toolbar {
						padding: 5px 10px 0 10px;
						border-top: 1px dotted #000;
						border-bottom: 1px dotted #000;
						background: #f1f1f1;
						height: 30px;
					}
					.page-toolbar form {
						padding-top: 2px;
						display: inline;
					}
					.page-toolbar input {
						display: inline;
						font-family: Verdana;
						font-size: 13px;
						margin: 0;
						padding: 2px;
						border: 1px solid #c9b865;
						height: 15px;
						float: left;
						clear:none;
						width: 210px;
					}
					.page-toolbar input[type=submit] {
						background: #6d5f2e;
						color: #fff;
						border: none;
						margin-left: 5px;
						padding: 0;
						line-height: 0;
						font-family: Tahoma;
						font-weight: bold;
						font-size: 12px;
						height: 21px;
						width: 60px;
					}
					.buttons {
						padding-right: 10px;
						float: right;
					}
					.page-toolbar .buttons {
						float: right;
						padding: 0;
						margin: 0;
						height: 25px;
					}
					.page-toolbar .buttons a {
						padding: 0;
						margin: 0;
					}
						.page-heading a,
						.page-toolbar a {
							margin: 5px;
							color: #000 !important;
							background-color: #FFF;
						}
						.page-heading .button,
						.page-toolbar .button {
							background-image: url(../img/btn-toolbar-l.gif);
						}
							.page-heading .button span,
							.page-toolbar .button span {
								background-image: url(../img/btn-toolbar-r.gif);
							}

						.page-heading a.button:active,
						.page-toolbar a.button:active {
							text-shadow: #EEE 1px 1px 0;
						}
							.page-heading a.button:active span,
							.page-toolbar a.button:active span {
								padding: 7px 11px 5px 1px;
							}

						.page-heading .disabled,
						.page-toolbar .disabled {
							color: #999 !important;
							text-shadow: #EEE 1px 1px 0 !important;
							background-position: 0 -78px !important;
							cursor: default !important;
						}
							.page-heading .disabled span,
							.page-toolbar .disabled span {
								background-position: 100% -78px !important;
							}

						.page-toolbar .label {
							float: left;
							padding: 9px 0 5px 7px;
							font-size: 85%;
						}
						.page-toolbar select {
							float: left;
							margin: 8px 4px 0;
							border-color: #99A;
						}
						.page-toolbar .separator {
							float: left;
							height: 30px;
							margin: 3px 7px;
							border-left: 1px solid #9C9;
							border-right: 1px solid #FFF;
							text-indent: -10000px;
						}


/* Sidebar */
#sidebar-left {
	padding-bottom: 20px;
	color: #333;
}

/* Pagination */
.paging {
	float: right;
	right: 0;
    clear: both;
    font-size: 85%;
}

.paging a, .paging div, .paging span.current {
    display: block;
    float: left;
    padding: 0.2em 0.5em;
    margin-right: 0.1em;
    background: #fff;
}

.paging span.current {
    font-weight: bold;
    background: #2E6AB1;
    color: #fff;
}

.paging a {
    text-decoration: none;
}

.paging a:hover {
    border-color: #2E6AB1;
}

.paging a.nextprev {
    font-weight: bold;
}

.paging div.nextprev {
	float: left;
    color: #666;
}

.paging div.disabled {
    color: #999;
}

.paging .nextprev-next {
    float: right;
}

span.highlight {
	background-color: #ff0;
}
.collapsible,
.collapsible-closed {
	margin: 0;
	padding: 0;
}
.related .collapsible,
.related .collapsible-closed {
	border-top: 1px solid #c9b865;
	margin: 0;
	padding: 0 0 5px 0;
}
.collapsible .handle,
.collapsible-closed .handle {
	padding-left: 15px;
	cursor: pointer;
}
.collapsible .handle {
	background: url(../img/page_up.gif) 0 center no-repeat;
}
.collapsible-closed .handle {
	background: url(../img/page_down.gif) 0 center no-repeat;
}
.related .collapsible .handle,
.related .collapsible-closed .handle {
	color: #d99e00;
	text-decoration: underline;
	font-size: 14px;
}
#spinner {
	position: absolute;
	left: 45%;
	top: 0;
}
#loader {
	position: absolute;
	left: 40%;
	top: 15px;
}
div.auto_complete    {
	position         	:absolute;
	background-color 	:white;
	margin          	:0px;
	padding          	:0px;
	width				:400px;
} 
li.selected    { background-color: #ffb; }
/*MESSAGE BOX CLEAN	serie	  		 */
	.clean-gray{
		border:solid 1px #DEDEDE; 
		background:#EFEFEF;
		color:#222222;
		padding:4px;
		text-align:center;
	}
	.clean-yellow{
		border:solid 1px #DEDEDE; 
		background:#FFFFCC;
		color:#222222;
		padding:4px;
		text-align:center;
	}
	.clean-ok{
		border:solid 1px #349534; 
		background:#C9FFCA;
		color:#008000;
		font-weight:bold;
		padding:4px;
		text-align:center;
	}
	.clean-error{
		border:solid 1px #CC0000; 
		background:#F7CBCA;
		color:#CC0000;
		font-weight:bold;
		padding:4px;
		text-align:center;
	}

/* --------------------------------- */
/*MESSAGE BOX Iconized	  		 */
	.icon-gray{
		border:solid 1px #DEDEDE; 
		background:#EFEFEF;
		color:#222222;
		padding:4px;
		text-align:center;
	}
	.icon-yellow{
		border:solid 1px #DEDEDE; 
		background:#FFFFCC url(../img/error.png) 8px 6px no-repeat;
		color:#222222;
		padding:4px;
		text-align:center;
	}
	.icon-ok{
		border:solid 1px #90ac13; 
		background:#eef4d3 url(../img/accept.png) 8px 6px no-repeat;
		color:#6b800d;
		font-weight:bold;
		padding:4px;
		text-align:center;
	}
	.icon-error{
		border:solid 1px #CC0000; 
		background:#F7CBCA url(../img/exclamation.png) 8px 6px no-repeat;
		color:#CC0000;
		font-weight:bold;
		padding:4px;
		text-align:center;
	}
.inline-counter {
	margin-left: 2px;
	font-size: 12px;
}
h2 .inline-counter {
	color: #e5e5e5;
}
h2 .inline-counter .p {
	color: #B4B4B4;
}

.related .inline-counter {
	color: #898989;
	font-size: 12px;
}
.related .inline-counter .p {
	color: #CFCFCF;
}

input, textarea {
	font-size: 100%;
	font-family: "Verdana", "lucida grande", sans-serif;
	padding: 5px;
	border: 1px solid #898989;
}
input[type=submit] {
	display: inline;
	font-size: 110%;
	padding: 2px 5px;
	width: auto;
	vertical-align: bottom;
}
fieldset form p { margin: 0; }
fieldset form p.note { margin-left: 170px; font-size: 90%; color: #333; }
fieldset form fieldset { margin: 10px 0; padding: 10px; border: #DDD 1px solid; }
fieldset form fieldset div { padding: 0.25em 0; }
fieldset label, 
fieldset span.label { margin-right: 10px; padding-right: 10px; width: 150px; display: block; float: left; text-align: right; position: relative; color: #898989; font-weight: bold;}
fieldset label.error, 
fieldset span.error { color: #C00; }
fieldset label em, 
fieldset span.label em { position: absolute; right: 0; font-size: 120%; font-style: normal; color: #C00; }
fieldset input.error { border-color: #C00; background-color: #FEF; }
fieldset input:focus,
fieldset input.error:focus, 
fieldset textarea:focus {	background-color: #f5f2e2; border-color: #c9b865; }
fieldset div.controlset label, 
fieldset div.controlset input { display: inline; float: none; }
fieldset div.controlset div { margin-left: 170px; }
fieldset div.buttonrow { margin-left: 180px; }
